<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<div layout:fragment="mainContent">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>UUID</th>
                    <th>AUTHOR</th>
                    <th>TITLE</th>
                    <th>DESCRIPTION</th>
                    <th>ACTION</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article, state : ${articles}" th:object="${article}">
                    <td th:text="${state.count}">4.</td>
                    <td th:text="*{uuid}"></td>
                    <td th:text="*{author}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{description}"></td>
                    <td>
                        <a href="#" class="btn btn-block btn-primary btn-xs">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/scripts}"/>
</body>
</html>