<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="mainContent">

<!--    <h2 class="m-0 text-dark">Add Article</h2>-->
    <form th:action="@{/admin/article}" method="post" th:object="${article}">

        <div class="form-group">
            <label>Title</label>
            <input type="text" placeholder="title" th:field="*{title}" class="form-control" >
            <span th:if="${#fields.hasErrors('title')}"
                  th:text="${#fields.errors('title').get(0)}"
                  th:style="|color:red|">A</span>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" placeholder="description" th:field="*{description}" class="form-control" >
            <span th:if="${#fields.hasErrors('description')}"
                  th:text="${#fields.errors('description').get(0)}"
                  th:style="|color:red|">B</span>
        </div>


        <div class="form-group">
            <label for="exampleInputEmail1">Author</label>
            <input type="text" placeholder="author" th:field="*{author}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <span th:if="${#fields.hasErrors('author')}"
                  th:text="${#fields.errors('author').get(0)}"
                  th:style="|color:red|">C</span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
</body>
</html>